{erl_opts, [debug_info]}.

{deps, [
  {rosie_rclerl, "*.", {git, "https://github.com/rosie-project/rosie_rclerl.git", {branch, "main"}}},
  {tf2_msgs, {ros2, galactic, {branch, "ros2"}}},
  {visualization_msgs, {ros2, galactic}}
]}.

{shell,[meda_robot]}.

{plugins, [
  erlfmt,
  rebar3_appup_plugin,
  {rosie_ros2_deps, "*.",
      {git, "https://github.com/rosie-project/rosie_ros2_deps.git", {branch, "master"}}},
  {rosie_interface_compiler, "*.",
      {git, "https://github.com/rosie-project/rosie_interface_compiler.git", {branch, "master"}}}
]}.


{relx, [{release, {rosie_hotswap_example, "1.0.0"},
         [meda_robot,
          sasl]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true},
        {overlay, [
          {mkdir, "data"},
          {copy, "data", "data"}
        ]}
]}.

{provider_hooks, [
  {pre, [{compile, {rosie, compile}}]},
  {post, [{clean, {rosie, clean}}]},

  {pre, [{tar, {appup, tar}}]},
  {post, [{compile, {appup, compile}},
          {clean, {appup, clean}}]}
]}.
